@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,350&family=Spartan:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Unicase:wght@600&family=Courgette&family=DM+Serif+Text:ital@1&family=Nothing+You+Could+Do&family=Poiret+One&family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Cinzel&family=Cormorant+Unicase:wght@600&family=Courgette&family=Cutive+Mono&family=DM+Serif+Text:ital@1&family=Diplomata&family=EB+Garamond:wght@500&family=Gravitas+One&family=Major+Mono+Display&family=Manrope:wght@200&family=Merriweather:wght@700&family=Nothing+You+Could+Do&family=Poiret+One&family=Public+Sans:wght@700&family=Rubik&family=Sansita+Swashed&family=Space+Mono:ital@1&family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
}

.title {
  position: absolute;
  top: 11vh;
  font-family: 'Spartan', sans-serif;
  font-size: 18vw;
  left: 5vw;
  width: fit-content;
  line-height: 100%;
  padding-right: 80px;
  border-right: 8px solid black;
}

.title-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 99vw;
}

.bio {
  font-size: 1.75vw;
  text-align: left;
  font-family: 'Public Sans', sans-serif;
  width: 480px;
  position: absolute;
  left: 55vw;
  top: 12vh;
  line-height: 150%;
}

.bio p {
  margin-top: -15px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: bolder;
  text-align: center;
}

.auth-section input {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.auth-section div {
  margin-bottom: 5px;
}

.auth-section button {
  font-family: 'Manrope', sans-serif;
  height: 30px;
  width: 100px;
  margin: 10px;
  font-size: 0.9em;
  box-shadow: none;
  border-color: transparent;
  background-color: rgb(53, 53, 53);
  color: white;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.auth-section button:hover {
  background-color: rgb(245, 244, 244);
  color: rgb(43, 43, 43);
  border-color: rgb(83, 83, 83);
  cursor: pointer;
  transition: 300ms;
}

.register-form {
  text-align: center;
}

.virus-animation {
  position: absolute;
  bottom: 9vh;
  right: 3vw;
}

.down-arrow {
  position: absolute;
  left: 50vw;
  bottom: 47.5vh;
  height: fit-content;
  width: fit-content;
}

.jan-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
  font-family: 'Quicksand', sans-serif;
}

.page-section {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
}

.jan-recap-section {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3vw;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 99vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
}

.text {
  width: 50vw;
  text-shadow: -5px 4px 8px rgba(255, 255, 255, 0.452);
}

.next {
  position: absolute;
  width: fit-content;
  border-radius: 50px;
}

.janrecap {
  top: 285vh;
}

.travel {
  top: 385vh;
}

.janquiz {
  top: 489vh;
}

.janpage {
  top: 584vh;
}

.fires {
  top: 684vh;
}

.pandemic {
  top: 784vh;
}

.activities {
  top: 884vh;
}

.march-quiz {
  top: 984vh;
}

.march-trend {
  top: 1084vh;
}

.murder-hornets {
  top: 1175vh;
}

.BLM {
  top: 1275vh;
}

.protests {
  top: 1375vh;
}

.protests {
  top: 1375vh;
}

.june-quiz {
  top: 1480vh;
}

.june-trend {
  top: 1575vh;
}

.san-fran {
  top: 1675vh;
}

.rbg {
  top: 1770vh;
}

.biden {
  top: 1870vh;
}

.nov-quiz {
  top: 1975vh;
}

.nov-trend {
  top: 2070vh;
}

.contribute {
  top: 2170vh;
}

.next:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.034);
}

.chart {
  font-family: 'Manrope', sans-serif;
}

.word-container {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: solid 1px black;
  width: 120px;
  text-align: center;
  margin: 30px;
  height: 25px;
  padding: 10px;
}

.related-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 1px black;
  width: 60px;
  height: 60px;
  padding: 4px;
  text-align: center;
  margin: 4px;
}

.snacks-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  height: 200px;
  font-size: 0.75rem;
}

.explore-btn {
  background-color: tomato;
  color: white;
  box-shadow: none;
  border-color: transparent;
  font-size: 0.65em;
  padding: 7px;
}

.explore-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.post-img {
  width: 100px;
}

.quiz {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 75vh;
  border-radius: 30px;
  width: 30vw;
  box-shadow: -0em 0 0.4em rgba(0, 0, 0, 0.048),
    0.2em 0 0.9em rgba(0, 0, 0, 0.13);
}

.quiz header {
  padding: 60px;
  font-size: 2em;
  text-align: center;
}

.matchup-items {
  text-align: center;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.matchup-items button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  width: 80%;
  height: 70px;
  background-color: white;
  box-shadow: none;
  border-radius: 20px;
  margin: 30px;
}
.matchup-items button:disabled {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  width: 80%;
  height: 70px;
  background-color: white;
  box-shadow: none;
  border-radius: 20px;
  margin: 30px;
}

.matchup-items button:hover {
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, white, #edf2ef);
}

.matchup-items button:disabled:hover {
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  background: none;
}

.result {
  margin-top: 20%;
}

.trend-form {
  font-family: 'Quicksand', sans-serif;
}

.trend-form input {
  font-family: 'Quicksand', sans-serif;
}

.go-btn {
  font-family: 'Quicksand', sans-serif;
}

.search-prompt {
  font-family: 'Quicksand', sans-serif;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
}

.edit-word-form {
  display: flex;
  /* width: 100%; */
}

.edit-word-form input {
  width: 90px;
  border-color: transparent;
}

.word-container button {
  background-color: transparent;
  float: right;
  border-color: transparent;
}

.australian-fires {
  width: 35vw;
  border-radius: 15px;
}

.first-case {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(44, 40, 75);
  color: white;
  font-size: 1.3vw;
  text-align: center;
}

.fires-div {
  background: rgb(44, 43, 44);
  color: white;
}

.fire-text {
  text-align: center;
  margin-bottom: 75px;
  width: 50vw;
}

.fire-pic {
  width: 40vw;
}
.pandemic-order {
  background-color: rgb(124, 213, 219);
  color: white;
  text-shadow: none;
}

.post-card {
  position: relative;
  width: 500px;
  height: 300px;
  margin-right: 40px;
}

.post-card img {
  width: 400px;
  height: 250px;
}

.post-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
}

.posts-container {
  padding-left: 500px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 45vw;
  height: 80vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.liked-div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -2vh;
  left: -1vw;
  width: fit-content;
}

.liked-div div {
  bottom: 0;
  margin-left: -20px;
  font-size: 0.6em;
}

.matchup-words {
  display: flex;
  justify-content: center;
}

.clear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear-matchup {
  margin: 0 auto;
}

.animal-crossing {
  width: 20vw;
}

.activities-section {
  background-color: rgb(144, 155, 219);
  color: white;
}

.text-no-shadow {
  width: 50vw;
}

.activities-section p {
  font-size: 0.8em;
}

.hornets-ufo {
  background-color: rgb(208, 250, 109);
}

.tnook {
  width: 100px;
  margin-bottom: 10px;
}
