@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,350&family=Spartan:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Unicase:wght@600&family=Courgette&family=DM+Serif+Text:ital@1&family=Nothing+You+Could+Do&family=Poiret+One&family=Space+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Cinzel&family=Cormorant+Unicase:wght@600&family=Courgette&family=Cutive+Mono&family=DM+Serif+Text:ital@1&family=Diplomata&family=EB+Garamond:wght@500&family=Gravitas+One&family=Major+Mono+Display&family=Manrope:wght@200&family=Merriweather:wght@700&family=Nothing+You+Could+Do&family=Poiret+One&family=Public+Sans:wght@700&family=Rubik&family=Sansita+Swashed&family=Space+Mono:ital@1&family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
}

.title {
  position: absolute;
  top: 11vh;
  font-family: 'Spartan', sans-serif;
  font-size: 18vw;
  left: 5vw;
  width: fit-content;
  line-height: 100%;
  padding-right: 80px;
  border-right: 8px solid black;
}

.title-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 99vw;
}

.bio {
  font-size: 1.75vw;
  text-align: left;
  font-family: 'Public Sans', sans-serif;
  width: 480px;
  position: absolute;
  left: 55vw;
  top: 12vh;
  line-height: 150%;
}

.bio p {
  margin-top: -15px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: bolder;
  text-align: center;
}

.auth-section input {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.auth-section div {
  margin-bottom: 5px;
}

.auth-section button {
  font-family: 'Manrope', sans-serif;
  height: 30px;
  width: 100px;
  margin: 10px;
  font-size: 0.9em;
  box-shadow: none;
  border-color: transparent;
  background-color: rgb(53, 53, 53);
  color: white;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.auth-section button:hover {
  background-color: rgb(245, 244, 244);
  color: rgb(43, 43, 43);
  border-color: rgb(83, 83, 83);
  cursor: pointer;
  transition: 300ms;
}

.register-form {
  text-align: center;
}

.virus-animation {
  position: absolute;
  bottom: 9vh;
  right: 3vw;
}

.down-arrow {
  position: absolute;
  left: 50vw;
  bottom: 47.5vh;
  height: fit-content;
  width: fit-content;
}

.jan-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
}

.page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  width: 99vw;
}

.jan-recap-section {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3vw;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 99vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
}

.text {
  width: 50vw;
  text-shadow: -5px 4px 8px rgba(255, 255, 255, 0.452);
}

.next {
  position: absolute;
  width: fit-content;
  border-radius: 50px;
}

.janrecap {
  top: 285vh;
}

.travel {
  top: 385vh;
}

.next:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.034);
}

.chart {
  font-family: 'Manrope', sans-serif;
}

.matchup-words {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 20px;
}

.word-container {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: solid 1px black;
  width: 120px;
  text-align: center;
  margin: 30px;
  height: 25px;
  padding: 10px;
}

.explore-btn {
  background-color: tomato;
  color: white;
  box-shadow: none;
  border-color: transparent;
  font-size: 0.65em;
  padding: 7px;
}

.explore-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.post-img {
  width: 100px;
}

.quiz {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 75vh;
  border-radius: 30px;
  width: 30vw;
  box-shadow: -0em 0 0.4em rgba(0, 0, 0, 0.048),
    0.2em 0 0.9em rgba(0, 0, 0, 0.13);
}

.quiz header {
  padding: 50px;
}

.matchup-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50%;
}

.matchup-items button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  width: 80%;
  height: 20%;
  background-color: white;
  box-shadow: none;
  border-radius: 20px;
  margin: 30px;
}

.matchup-items button:hover {
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, white, #edf2ef);
}

.result {
  margin-top: 40%;
}

.trend-form {
  font-family: 'Quicksand', sans-serif;
}

.trend-form input {
  font-family: 'Quicksand', sans-serif;
}

.go-btn {
  font-family: 'Quicksand', sans-serif;
}

.search-prompt {
  font-family: 'Quicksand', sans-serif;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
}

.edit-word-form {
  display: flex;
  /* width: 100%; */
}

.edit-word-form input {
  width: 90px;
  border-color: transparent;
}

.word-container button {
  background-color: transparent;
  float: right;
  border-color: transparent;
}

.australian-fires {
  width: 40vw;
}

.first-case {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(44, 40, 75);
  color: white;
  font-size: 1.3vw;
  text-align: center;
}
